.hpBg{margin-left: 100px;
    margin-right: 100px;

}
h2{
    padding-top:135px;
    text-align: center;
    text-decoration: underline;
}

.container-fluid{
    text-align: center;
    }

.boxesRow{
    height: 300px;
}

.boxesRow div{
    height: 100%;
}

.firstDiv{
    background:red;
    border-style:solid;
    border-width: 3px;
    border-color: black;        
}
.firstDivNew{
    background: pink;
    border-style:solid;
    border-width: 3px;
    border-color:orange;        
}

.secondDiv{
    border-style:dashed;
    border-width: 3px;
    background:blue;
    border-color:yellow;
}
.thirdDiv{
    border-style:solid;
    border-width: 3px;
    background:green;
    border-color:purple;
          
}
.changeAllColors{
    background: black;
    border-style:dotted;
    border-width: 10px;
    border-color: cadetblue;        
}

h6, h5{
    text-align: center;
    text-decoration: underline;
    color: blue;
    
    
}

.jumbotron {
    text-align: center; 
    font-weight:bold;
    padding:20px ;
    width: 50;
}

.jumbotron {
    text-align: center; 
    font-weight:bold;
    padding:20px ;
    width: 50;
}

